---
title: Dekker Lab Alumni
permalink: /alumni/
layout: base.njk
---

<h1>{{ title }}</h1>

<div class="lab-members-grid">
  {% for alum in alumni %}
  <div class="member-card">
    {% if alum.image %}
    <img src="{{ alum.image }}" alt="{{ alum.name }}" class="lab-member-image">
    {% endif %}
    <h3>{{ alum.name }}</h3>
    <p>Former {{ alum.position }}</p>
  </div>
  {% endfor %}
</div>

<style>
    .lab-member-image {
    width: 200px; /* Your desired normalized width */
    height: 200px; /* Your desired normalized height */
    object-fit: cover; /* Crop to fit the dimensions */
    clip-path: circle();
    }

  .lab-members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }

  .member-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
  }

  .member-card img {
    max-width: 100%;
    /* height: auto; */
    border-radius: 5px;
    margin-bottom: 10px;
  }
</style>
