---
title: Home
layout: base.njk
permalink: /
---

<div class="hero mb-4">
    <div class="hero-content">
        <h1>Welcome to the <mark>Dekker Lab !</mark></h1>
        <h2><mark>3D Genome</mark></h2>
    </div>
</div>

<div class="container mb-4">
    <div class="logo-grid">
        <div class="logo-item theme-switchable">
            <!-- DSB Logo -->
            <img src="/images/logos/dsb-logo-final-dark.png" alt="DSB Logo" class="logo-light">
            <img src="/images/logos/dsb-logo-final.png" alt="DSB Logo" class="logo-dark">
        </div>
        <div class="logo-item theme-switchable">
            <!-- UMass Logo -->
            <img src="/images/logos/UMassChan_Vertical_2Color.png" alt="UMass Chan Logo" class="logo-light">
            <img src="/images/logos/UMassChan_Vertical_2Color-white.png" alt="UMass Chan Logo" class="logo-dark">
        </div>
        <div class="logo-item theme-switchable">
            <!-- HHMI Logo -->
            <img src="/images/logos/HHMI-vertical-signature-color.png" alt="HHMI Logo" class="logo-light">
            <img src="/images/logos/HHMI-vertical-signature-white.png" alt="HHMI Logo" class="logo-dark">
        </div>
        <div class="logo-item theme-switchable">
            <img src="/images/logos/4dn-logo-dark.png" alt="4DN Logo" class="logo-light">
            <img src="/images/logos/4dn-logo-light.png" alt="4DN Logo" class="logo-dark">
        </div>
        <div class="logo-item">
            <img src="/images/logos/nih-logo.png" alt="NIH Logo">
        </div>
    </div>
</div>


<h2 class="text-center">Contact Us</h2>
<p class="text-center">
    We welcome collaborations and inquiries. Reach out to us to learn more about our work or potential partnerships.<br>
    <a href="/contact/" class="button">Get in Touch</a>
</p>
