/* Light Theme (Default) */
:root {
    --font-primary: "Arial", sans-serif;
    --font-secondary: "Georgia", serif;
    --bg-color: #f4f4f4;
    --text-color: #333;
    --header-bg: #f0f0f0;
    --header-text: #333;
    --nav-bg: #f0f0f0;
    --nav-text: #333;
    --nav-link-hover: #007bff;
    --link-color: #007bff;
    --link-hover: #0056b3;
    --footer-bg: #333;
    --footer-text: #fff;
    --accent-color: #007bff;
    --border-color: #ccc;
}

/* Dark Theme */
body.dark-theme {
    --bg-color: #121212;
    --text-color: #eee;
    --header-bg: #222;
    --header-text: #eee;
    --nav-bg: #222;
    --nav-text: #eee;
    --nav-link-hover: #64b5f6;
    --link-color: #64b5f6;
    --link-hover: #90caf9;
    --footer-bg: #000;
    --footer-text: #eee;
    --accent-color: #64b5f6;
    --border-color: #555;
}

body {
    font-family: var(--font-primary);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* transition:
        background-color 0.3s ease,
        color 0.3s ease; */
}
