---
title: Dekker Lab News
permalink: "news/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
layout: base.njk
pagination:
  data: collections.news
  size: 10
  alias: news
---

<h1>Lab News and Announcements</h1>


<ul class="news-list">
  {% for post in news %}
    <li>
      <a href="{{ post.url }}" class="news-title">{{ post.data.title }}</a>
      <span class="post-date">({{ post.date | formatDate }})</span>
      <p>{{ post.excerpt | truncate(150) }} <a href="{{ post.url }}" class="read-more">Read more</a></p>
    </li>
  {% endfor %}
</ul>

<nav class="pagination">
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">← Older Posts</a>
  {% else %}
    <span></span>
  {% endif %}
  
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">Newer Posts →</a>
  {% endif %}
</nav>


<style>

.news-list {
    list-style: none;
    padding: 0;
}

.news-list li {
    margin-bottom: 2em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #eee;
}

.news-list li:last-child {
    border-bottom: none;
}

.news-title {
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--color-primary);
}

.news-title:hover {
    color: var(--color-secondary);
}

.news-list p {
    line-height: 1.6;
    margin-top: 0.5em;
}

.read-more {
    font-size: 0.9em;
    color: var(--color-primary);
    text-decoration: none;
    margin-left: 0.5rem;
}

.read-more:hover {
    text-decoration: underline;
}

.post-date {
    color: var(--color-secondary);
    font-size: 0.9em;
    margin-left: 0.5em;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--color-border);
}

</style>
