---
title: Home
layout: base.njk
permalink: /
---

<div class="hero mb-4">
    <div class="hero-content">
        <h1>Welcome to the <mark>Dekker Lab !</mark></h1>
        <h2><mark>3D Genome</mark></h2>
    </div>
</div>

<div class="container mb-4">
    <div class="logo-grid">
        <div class="logo-item theme-switchable">
            <!-- DSB Logo -->
            <a href="https://www.umassmed.edu/DSB" target="_blank">
                <img src="/images/logos/dsb-logo-final-dark.png" alt="DSB Logo" class="logo-light">
                <img src="/images/logos/dsb-logo-final.png" alt="DSB Logo" class="logo-dark">
            </a>
        </div>
        <div class="logo-item theme-switchable">
            <!-- UMass Logo -->
            <a href="https://www.umassmed.edu/" target="_blank">
                <img src="/images/logos/UMassChan_Vertical_2Color.png" alt="UMass Chan Logo" class="logo-light">
                <img src="/images/logos/UMassChan_Vertical_2Color-white.png" alt="UMass Chan Logo" class="logo-dark">
            </a>
        </div>
        <div class="logo-item theme-switchable">
            <!-- HHMI Logo -->
            <a href="https://www.hhmi.org/" target="_blank">
                <img src="/images/logos/HHMI-vertical-signature-color.png" alt="HHMI Logo" class="logo-light">
                <img src="/images/logos/HHMI-vertical-signature-white.png" alt="HHMI Logo" class="logo-dark">
            </a>
        </div>
        <div class="logo-item theme-switchable">
            <a href="https://4dnucleome.org/" target="_blank">
                <img src="/images/logos/4dn-logo-dark.png" alt="4DN Logo" class="logo-light">
                <img src="/images/logos/4dn-logo-light.png" alt="4DN Logo" class="logo-dark">
            </a>
        </div>
        <div class="logo-item">
            <a href="https://www.nih.gov/" target="_blank">
                <img src="/images/logos/nih-logo.png" alt="NIH Logo">
            </a>
        </div>
    </div>
</div>


<h2 class="text-center" id="contact">Contact Us</h2>
<div class="grid grid-cols-2" style="align-items: center;">
    <div class="contact-info">

        <p class="mt-4">
            We welcome collaborations and inquiries.
        </p>

        <p>
            <strong>University of Massachusetts Chan Medical School</strong><br>
            368 Plantation Street, AS6-1049<br>
            Worcester MA 01605
        </p>

    </div>
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25677.94147081641!2d-71.81110878896261!3d42.28145933935494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e4062bc97f763d%3A0x97388850c2ab7c81!2sAlbert%20Sherman%20Center!5e0!3m2!1sen!2sus!4v1746472529962!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
