---
title: People
permalink: /people/
layout: base.njk
---

<h1>{{ title }}</h1>

<div class="grid grid-cols-2 mb-4">
  {% for member in members %}
  <div class="card member-card">
    <div class="member-header">
      {% if member.image %}
      <img src="{{ member.image }}" alt="{{ member.name }}" class="member-image">
      {% else %}
      <div class="member-image" style="background-color: var(--color-border);"></div>
      {% endif %}
      
      <div class="member-intro">
        <h3>{{ member.name }}
          {% if member.email %}
            <script type="text/javascript">
              document.write('<a href="mailto:' + "{{member.email}}" + '">✉️</a>');
            </script>
            <noscript>Email hidden</noscript>
          {% else %}
            <script type="text/javascript">
              var user_arr = "{{ member.name }}".split(" ");
              var domain = "umassmed.edu";
              document.write('<a href="mailto:' + user_arr.join(".") + '@' + domain + '">✉️</a>');
            </script>
            <noscript>Email hidden</noscript>
          {% endif %}
        </h3>
        <p class="member-position">{{ member.position }}</p>
      </div>
    </div>

    <div class="member-details">

      {% if member.education %}
      <ul class="member-education">
        {% for edu in member.education %}
        <li> - {{ edu }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if member.focus %}
      <span class="member-focus"> <strong>Research Focus:</strong> {{ member.focus }}</span>
      {% endif %}

    </div>

  </div>
  {% endfor %}
</div>

<h2>Alumni</h2>

<div class="grid grid-cols-3">
  {% for alum in alumni %}
  <div class="card member-card">

    <div class="member-header">
      {% if alum.image %}
      <img src="{{ alum.image }}" alt="{{ alum.name }}" class="member-image">
      {% else %}
      <div class="member-image" style="background-color: var(--color-border);"></div>
      {% endif %}
      <h3>{{ alum.name }}</h3>
    </div>

    <div class="member-intro">
      {% if alum.former_position %}
      <p><strong>Former:</strong> {{ alum.former_position }}</p>
      {% endif %}
      {% if alum.current_position %}
      <p><strong>Currently:</strong> {{ alum.current_position }}</p>
      {% endif %}
    </div>

  </div>
  {% endfor %}
</div>
